{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}

<table style="border: 2px solid gray;" >
    {% for object in object_list %}
        <tr style="border: 2px solid gray;">    
            <td style="padding:10"><a href={{object.get_absolute_url}}>{{ object}}</a></td>
        </tr>
    {% endfor %}
</table>