{% extends 'registration/base.html' %}
{% block body %}
<div class="col-md-12">
<center>
<hr>
<h3>Book Cleaner </h3>
<hr>
<table>
<form method="POST">
    {% csrf_token %}
       
        {% for field in form %}
            <tr>
                <td>
                    {{ field.label}}
                </td>
                <td>
                    {{ field }}
                </td>
                <td>
                    {{ field.errors }}
                </td>
            </tr>
        {% endfor%}
    <tr>
        <td colspan="3">
            <center><button type="submit" class="btn btn-primary">Register Cleaner</button></center>
        </td>        
    </tr>
</form>

</center>
</div>
{% endblock body %}