{% extends 'registration/base.html'%}
{% block body %}
  
  <div class="col-md-12">
    <center>
    <hr>
    <h1>Sign Up</h1>
    <hr>
    <form method="POST">
        {% csrf_token %}
            <table>
        {% for field in form %}
            <tr>
                <td>
                    {{ field.label}}
                </td>
                <td>
                    {{ field }}
                </td>
                <td>
                    {{ field.errors }}
                </td>
            </tr>
        {% endfor%}
        <tr>
            <td colspan="3">
                <center><button type="submit" class="btn btn-primary">Sign Up</button></center>
            </td>        
        </tr>    
    </form>
    </table>
</center>
  </div>
{% endblock body%}
