{% extends 'registration/base.html'%}
{% load static %}
{% block script %}
{% endblock script %}

{% block body %}
  {{ filename }}
  <div class="col-md-12">
    <center>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div class="alert alert-success">
                    <a href="#" class="alert-link">{{ message }}</a>.
                </div>
            {% endfor %}
        </ul>
        {% endif %}
    <hr>
    <h1>Sign Up</h1>
    <hr>
    <p id="error"></p>
    <form method="POST" id="singup">
        {% csrf_token %}
            <table>
        {% for field in form %}
            <tr>
                <td>
                    {{ field.label}}
                </td>
                <td style="padding: 10px;">
                    {{ field }}
                </td>
                <td>
                    {{ field.errors }}
                </td>
            </tr>
        {% endfor%}
        <tr>
            <td colspan="3">
                <center><button type="submit"  id="id_submit" class="btn btn-primary">Sign Up</button></center>
            </td>        
        </tr>    
    </form>
    </table>
</center>
  </div>
{% endblock body%}
